<div class="container-fluid">
  <div class="image-container mt-4" style="position: absolute;">
    <div class="image-group" id="imageGroup">

      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/26612/pumpkin.svg" alt="pumpkin" id="pumpkin" style="position: absolute; left: 0px; top: 263px; z-index: 5;  z-index: 5;">
     
   <img draggable="true" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/26612/eyes1.svg" alt="eyes1" id="eyes1" style="position: absolute; left: 84px; top: 263px; z-index: 5; z-index: 5;">
   
   <img draggable="true" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/26612/eyes2.svg" alt="eyes2" id="eyes2" style="position: absolute;left: 0px; top: 363px; z-index: 5; z-index: 5;">
   
   <img draggable="true" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/26612/eyes3.svg" alt="eyes3" id="eyes3" style="position: absolute; left: 84px; top: 363px; z-index: 5; z-index: 5;">
   
   <img draggable="true" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/26612/eyes4.svg" alt="eyes4" id="eyes4" style="position: absolute;left: 0px; top: 463px; z-index: 5;">
   
   <img draggable="true" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/26612/eyes5.svg" alt="eyes5" id="eyes5" style="position: absolute;left: 84px; top: 463px; z-index: 5; z-index: 5;">
   
   <img draggable="true" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/26612/mouth1.svg" alt="mouth1" id="mouth1" style="position: absolute;left: 0px; top: 563px; z-index: 5; z-index: 5;">
   
   <img draggable="true" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/26612/mouth2.svg" alt="mouth2" id="mouth2" style="position: absolute;left: 84px; top: 563px; z-index: 5;">
   
   <img draggable="true" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/26612/mouth3.svg" alt="mouth3" id="mouth3" style="position: absolute;left: 0px; top: 663px; z-index: 5;">
   
   <img draggable="true" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/26612/mouth4.svg" alt="mouth4" id="mouth4" style="position: absolute;left: 84px; top: 663px; z-index: 5;">
        
       </div>
  </div>

  <div class="row h-100">
    <!-- Sidebar -->
    <div class="col-md-2 sidebar d-flex flex-column">
      <img src="images/logo_app.jpg" alt="Logo" class="logo-img mb-4">
      <ul class="nav flex-column text-center">
        <li class="nav-item active">
          <a href="#" class="nav-link">
            <i class="fas fa-home"></i> <!-- Icone Home -->
            Home
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="fas fa-history"></i> <!-- Icone History -->
            History
          </a>
        </li>
      </ul>
    </div>    

    <!-- Main content -->
    <div class="col-md-10 main-content">
            <!-- Ajout de la barre de téléchargement ici -->
            <div class="d-flex justify-content-between align-items-center p-3 bg-dark text-white rounded mb-4">
              <div>
                <h6 class="mb-1">Upload a photo or image</h6>
                <small>Upload a photo or image of room whose appearance you want to improve.</small>
              </div>
              <button class="btn btn-primary">Design this room <i class="fas fa-magic"></i></button>
            </div>
            <!-- Fin de la barre de téléchargement -->
      
      <div class="header mb-4">
        <div class="row">
          <div class="col d-flex">
            <button class="tab btn btn-primary flex-fill">Model</button>
          </div>
          <div class="col d-flex">
            <button class="tab btn btn-primary flex-fill">Room Type</button>
          </div>
        </div>
      </div>    
      <div class="row">
        <div class="col d-flex">
          <!-- Box pour l'image avec les styles appliqués -->
          <div class="model-box flex-fill text-center">
            <!-- Champ pour sélectionner une image -->
            <input type="file" (change)="onFileSelected($event)" accept="image/*">
            
            <!-- Afficher l'image sélectionnée dans la box -->
            <img *ngIf="imageUrl" [src]="imageUrl" alt="Selected Image" class="img-fluid mt-3">
          </div>
        </div>
                        <div class="col d-flex">
          <!-- Box pour la room -->
          <div class="room-box flex-fill">
            Room Box
          </div>
        </div>
      </div>
    </div>
    
          </div>
</div>
