.card {
    width: 100%;
    /* max-width: 800px; */
    margin: 0 auto;
    padding: 0;

}

h2 {
    text-align: center;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.radio-group {
    margin: 10px 0;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}
