body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.hero-section {
    background-color: #f8f9fa;
    padding: 60px 0;
}

.process-section {
    padding: 60px 0;
}

.example-section {
    background-color: #e9ecef;
    padding: 60px 0;
}

.ai-capabilities-section {
    padding: 60px 0;
}

.footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

h1, h2 {
    color: #343a40;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}
.img-fluid {
    max-width: 100%;
    height: auto;
    /* width: 90%;
    HEIGHT: 80%;
    border-radius: 13px; */
}
.last-img{
    width: 50%;
    HEIGHT: 40%;
    border-radius: 13px;
}
.para1{
    align-content: center;
}
.para1 .btn-primary{
    background-color: #25e459;
}
.para1 .Upload{
    position: absolute;
}
.para1  button {
    position: relative;
    top: 7rem;
    left: 15rem;

}
.title-AI-Generated{
    color: #25e459;
}
h2, h1{
    color: #25e459;
}
