<div class="container-fluid">
  <div class="row h-100">
    <!-- Sidebar -->
    <div class="col-md-2 sidebar d-flex flex-column">
      <div class="sidebar-header text-center ">
        <img src="images/logo_app.jpg" alt="Logo" class="logo-img rounded-circle">
      </div>
      <ul class="nav flex-column">
        <li class="nav-item active" style="height: 65px; display: flex; border-radius: 16px;">
          <a href="#" class="nav-link">
            <i class="fas fa-home"></i> Home
          </a>
        </li>
        <li class="nav-item" style="height: 65px; display: flex; border-radius: 16px;">
          <a href="#" class="nav-link">
            <i class="fas fa-history"></i> History
          </a>
        </li>
      </ul>
      <div class="d-flex flex-column align-items-center mt-auto">
        <div class="sidebar-buttons">
          <button class="btn settings-btn btn-setting-logout ms-1">
            <i class="fas fa-cog me-2"></i> Settings
          </button>
          <button class="btn logout-btn btn-setting-logout " (click)="onLogout()" type="submit">
            <i class="fas fa-sign-out-alt me-2"></i> Logout
          </button>
        </div>
      </div>
    </div>

    <!-- Main content -->
    <div class="col-md-10 main-content">
      <!-- Upload bar -->
      <div class="d-flex justify-content-center align-items-center p-3 bg-dark text-white rounded mb-4">
        <div>
          <h6 class="mb-1">Ready to bring your vision to life? Get started on the bottom to create
            your own custom renders.</h6>
        </div>
      </div>

      <div class="header mb-4">
        <div class="row">
          <div class="col d-flex">
            <button (click)="captureToBase64()" class="tab btn btn-primary flex-fill">Generate...</button>
          </div>
          <div class="col d-flex">
            <button class="tab btn btn-primary flex-fill">Room Type</button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <div class="model-box text-center" (dragover)="allowDrop($event)" (drop)="drop($event)"
            style="position: relative; height: 500px; background: linear-gradient(135deg, #f3f4f6, #25E459);">
            <input type="file" (change)="onFileSelected($event)" accept="image/*" class="form-control mb-3">
            <img *ngIf="imageUrl && showingOriginal" [src]="imageUrl" alt="Selected Image" class="img-fluid uploaded-image" />

            <!-- Section for displaying original and generated images with buttons -->
            <div class="button-overlay">
              <button class="btn btn-secondary" (click)="showOriginal()">Image Originale</button>
              <button class="btn btn-secondary" (click)="showGenerated()">Image Générée</button>
            </div>

            <div class="mt-3">
              <!-- <div *ngIf="showingOriginal">
                <p>Affichage de l'image originale</p>
                <img [src]="imageUrl" alt="Image Originale" class="img-fluid" />
              </div> -->
              <!-- <div > -->
                
                <img [src]="capturedImageBase64" *ngIf="showingGenerated && capturedImageBase64" alt="Image Générée" class="img-fluid uploaded-image" />
              <!-- </div> -->
              
            </div>            
          </div>
        </div>

        <div class="col-md-4">
          <div class="image-container mt-4">
            <div class="image-group" id="imageGroup">
              <i class="fas fa-bed draggable-item" draggable="true" (dragstart)="drag($event)" id="bed"
                style="font-size: 60px;"></i>
              <i class="fas fa-couch draggable-item" draggable="true" (dragstart)="drag($event)" id="sofa"
                style="font-size: 60px;"></i>
              <i class="fas fa-chair draggable-item" draggable="true" (dragstart)="drag($event)" id="chair"
                style="font-size: 60px;"></i>
              <i class="fas fa-door-open draggable-item" draggable="true" (dragstart)="drag($event)" id="door"
                style="font-size: 60px;"></i>
              <i class="fas fa-table draggable-item" draggable="true" (dragstart)="drag($event)" id="table"
                style="font-size: 60px;"></i>
              <i class="fas fa-lightbulb draggable-item" draggable="true" (dragstart)="drag($event)" id="lamp"
                style="font-size: 60px;"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
