<div class="container-fluid">
  <div class="row h-100">
    <!-- Sidebar -->
    <div class="col-md-2 sidebar d-flex flex-column">
      <div class="sidebar-header text-center ">
        <img src="images/logo_app.jpg" alt="Logo" class="logo-img rounded-circle">
      </div>
      <ul class="nav flex-column">
        <li class="nav-item active" style="height: 65px; display: flex; border-radius: 16px;">
          <a href="#" class="nav-link">
            <i class="fas fa-home"></i> Home
          </a>
        </li>
        <li class="nav-item" style="height: 65px; display: flex; border-radius: 16px;">
          <a href="#" class="nav-link">
            <i class="fas fa-history"></i> History
          </a>
        </li>
        
      </ul>
      <div class="d-flex flex-column align-items-center mt-auto">
              

        <div class="sidebar-buttons">
          <button class="btn settings-btn btn-setting-logout ms-1">
            <i class="fas fa-cog me-2"></i> Settings
          </button>
          <button class="btn logout-btn btn-setting-logout " (click)="onLogout()" type="submit">
            <i class="fas fa-sign-out-alt me-2"></i> Logout
          </button>
        </div>
        
      </div>
    
    </div>


    <!-- Main content -->
    <div class="col-md-10 main-content">
      <!-- Upload bar -->
      <div class="d-flex justify-content-center align-items-center p-3 bg-dark text-white rounded mb-4">
        <div>
          <h6 class="mb-1">Ready to bring your vision to life? Get started on the bottom to create
            your own custom renders.</h6>

        </div>
        <!-- <button class="btn btn-primary">Design this room <i class="fas fa-magic"></i></button> -->
      </div>

      <div class="header mb-4">
        <div class="row">
          <div class="col d-flex">
            <button (click)="captureToBase64()" class="tab btn btn-primary flex-fill">Generate...</button>
          </div>
          <div class="col d-flex">
            <button class="tab btn btn-primary flex-fill">Room Type</button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <div class="model-box text-center" (dragover)="allowDrop($event)" (drop)="drop($event)" style="position: relative; height: 500px;">
            <input type="file" (change)="onFileSelected($event)" accept="image/*" class="form-control mb-3">
            <img *ngIf="imageUrl" [src]="imageUrl" alt="Selected Image" class="img-fluid uploaded-image">
          </div>
        </div>

        <div class="col-md-4">
          <div class="image-container mt-4">
            <!-- Titre dans une ligne -->
            <div class="row mb-3">
              <div class="col">
                <h5 class="text-center title">Select items to add</h5>
              </div>
            </div>

            <!-- Combo box dans une autre ligne -->
            <!-- Combo box et input pour la taille dans une autre ligne -->
<div class="row mb-3">
  <div class="col">
    <div class="form-group">
      <label for="categorySelect">Choose a category:</label>
      <select id="categorySelect" class="form-control" (change)="selectCategory(getValue($event))">
        <option value="">-- Select a category --</option>
        <option value="chaise">Chaises</option>
        <option value="table">Tables</option>
        <option value="tv">TV</option>
        <option value="lit">lit</option>
        <option value="lus">lustre</option>
        <option value="fau">fauteuile</option>
        <option value="heu">heure</option>
        <option value="bur">bureau</option>
        <option value="mir">miroir</option>
        <option value="bal">balcon</option>
        <option value="fen">fenetre</option>
        <option value="vas">vase</option>
        <option value="lum">lambe</option>
        <option value="bou">bougie</option>
        <option value="ta">tableu</option>
        <option value="cui">cuisin</option>
        <option value="tm">table a manger</option>
        <option value="ar">armoir</option>
        <option value="sa">salon</option>
        <option value="mu">mur</option>
        <option value="to">tapis</option>
      </select>
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <label for="sizeInput">Size (px):</label>
      <input 
        id="sizeInput" 
        type="number" 
        class="form-control" 
        [value]="sizeInput" 
        (input)="updateSize($event)" 
        placeholder="Enter size in px">
        <button class="btn btn-danger mr-2 px-3 py-2 mb-2" (click)="deleteLastClonedElement()">Del</button>
<button class="btn btn-success px-3 py-2 mb-2" (click)="restoreLastDeletedElement()">Restore</button>
    </div>
    
  </div>
</div>

            <!-- Zone des images dans une autre ligne -->
            <div class="row">
              <div class="col">
                <div class="image-group">
                  <div *ngIf="selectedCategory">
                  
                    <div class="image-row">
                      <span *ngFor="let item of getItemsForSelectedCategory()">
                        <img [src]="item.src" [alt]="item.alt" class="draggable-item" style="width: 100px; height: auto;" draggable="true" (dragstart)="drag($event)" [id]="item.id"/>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>