<div>
    <div class="FirstPara">
        <h1 class="fw-bold fs-1 text-center text-muted mt-5 mb-5 ">Design your dream room, Desktop, <br>  Living room...</h1>
        <p class="text-mutd text-center mb-5 fs-5 ">Welcome to our interior design app! Unleash your creativity and explore endless design possibilities to transform your space. Whether you're refreshing a room or redesigning your entire home, our easy-to-use tools will help you create personalized spaces that reflect your unique style. Join us and turn your dream home into a reality!</p>
        <div class="text-center d-flex justify-content-center"> 
            <button type="button" class="button-get-started" >
                <a href="/login">Get Started</a>
        </button>
        </div>
        
    </div>
</div>
